<h1>Tell me your favorite color</h1>

<form action="/answer" data-turbo="false">
  <label for="color">Choose a color:</label>
  <select name="color" id="color">
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
  </select>
  <input type="submit" value="Ask!">
</form>
